name: Publish to NPM
on:
  workflow_dispatch:
  push:
    tags:
      - 'v*' # only run if new tag is pushed

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: 'https://registry.npmjs.org'
      - name: Install dependencies and build
        run: yarn
      - name: Publish to NPM
        run: yarn publish --non-interactive